#
# CSE183 Assignment 9 Backend
#

openapi: '3.0.3'

info:
  description: CSE115A PathFinder
  version: 0.1.0
  title: CSE115A PathFinder

servers:
  - url: http://localhost:3010/

paths:
  /v0/data/s?s={s}:
    get:
      description: Returns array of all emails
      parameters:
        - in: query
          name: demand
          schema:
            type: string
          description: check mailbox
      responses:
        200:
          description: Emails Response
        default:
          description: Unexpected Error