/* ORGANIZE THIS LATER */

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 15px;
    left: 0px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 1000px;
    width: 80px;
    z-index: 10;
}

.cards-wrapper {
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.card {
    display: inline-block;
    height: 590px;
    width: 700px;
}    

.card-header-title {
    text-align: center;
    box-shadow: 0 0 5px #aaaaaa;
}

.box {
    height: 300px;
    width: 700px;
}

.delete {
    left: 60%;
}

#submitButton {
    left: 50%;
    transform: translate(-50%);
}

section {
    transform: translateY(-5%);
}